.welcome {
  text-align: center;
  display: block;
  padding-top: 200px;
}

/* Full-width input fields */
input[type=text], input[type=password] {
    width: auto;
    padding: 12px 20px;
    margin: 8px 0;
    display: block;
    border: 1px solid #ccc;
    box-sizing: border-box;
}

/* Set a style for all buttons */
button {
    background-color: #4CAF50;
    color: white;
    padding: 14px 20px;
    margin: 8px 0;
    border: none;
    cursor: pointer;
}

button:hover {
    opacity: 0.8;
}

table {
    margin: 5rem;
    width: 500px;
    height: 500px;
    border-collapse: collapse;
}
td {
    overflow: hidden;
    text-align: center;
    horiz-align: left;
    font-size: 10rem;
    whitespace: nowrap;
    width: 33.333%;
    height: 33.333%;
    border: 6px solid #222;
}
td:after {
    content: '';
    display: block;
}
td:first-of-type {
    border-left-color: transparent;
    border-top-color: transparent;
}
td:nth-of-type(2) {
    border-top-color: transparent;
}
td:nth-of-type(3) {
    border-right-color: transparent;
    border-top-color: transparent;
}
tr:nth-of-type(3) td {
    border-bottom-color: transparent;
}

.footer {
    position: fixed;
    left: 0;
    bottom: 0;
    width: 100%;
    text-align: center;
    background-color: #242424;
    color: #fff;
    padding-bottom: 3rem;
    padding-top: 3rem;
}

.register {
    margin-left: 35rem;
}

.spacer
{
    width: 100%;
    height: 90px;
}

label {
    color: #fff;
}

input {
    color: #000;
}

.blackText{
    color:#242424;
}

.header {
    background-color: #242424;
    width: 100%;
    position: fixed;
    height: 90px;
}

.game-card {
    border-color: #000;
    border-width: 2px;
    border-style: solid;
    border-radius: 5px;
    padding: 1rem;
    margin-bottom: 1rem;
}

span.psw {
    float: right;
    padding-top: 16px;
}

/* The Modal (background) */
.modal {
    display: none; /* Hidden by default */
    position: fixed; /* Stay in place */
    z-index: 1; /* Sit on top */
    left: 0;
    top: 0;
    width: 100%; /* Full width */
    height: 100%; /* Full height */
    overflow: auto; /* Enable scroll if needed */
    background-color: rgb(0,0,0); /* Fallback color */
    background-color: rgba(0,0,0,0.4); /* Black w/ opacity */
    padding-top: 60px;
}

/* Modal Content/Box */
.modal-content {
    background-color: #fefefe;
    margin: 5% auto 15% auto; /* 5% from the top, 15% from the bottom and centered */
    border: 1px solid #888;
    width: 50%; /* Could be more or less, depending on screen size */
}

/* The Close Button (x) */
.close {
    position: absolute;
    right: 25px;
    top: 0;
    color: #000;
    font-size: 35px;
    font-weight: bold;
}

.close:hover,
.close:focus {
    color: red;
    cursor: pointer;
}

/* Add Zoom Animation */
.animate {
    -webkit-animation: animatezoom 0.6s;
    animation: animatezoom 0.6s
}

@-webkit-keyframes animatezoom {
    from {-webkit-transform: scale(0)}
    to {-webkit-transform: scale(1)}
}

@keyframes animatezoom {
    from {transform: scale(0)}
    to {transform: scale(1)}
}

/* Change styles for span and cancel button on extra small screens */
@media screen and (max-width: 300px) {
    span.psw {
       display: block;
       float: none;
    }
    .cancelbtn {
       width: 100%;
    }
}
